<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>All Users</title>
</head>
<body>
<div>
    <h1>Lista Użytkowników</h1>
</div>
<div class="container">
    <a href="/user/register"><input type="submit" value="Dodaj użytkownika"></a><br>
    <table border="1">
        <tr class="thead-dark">
            <td>Id</td>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Email</td>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td>
                <a th:href="@{'/user/edit/' + ${user.getId()}}">Edycja</a>
                <a th:href="@{'/user/delete/' + ${user.getId()}}">Usuwanie</a>
            </td>
        </tr>
    </table>
    <br>
    <a href="/"><input type="submit" value="Powrót do strony głównej"></a>
</div>
</body>
</html>