<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<div th:fragment="loggedheader">
    <nav class="container container--70">
        <ul class="nav--actions">
            <li class="logged-user" >
                <p sec:authentication="name"></p>
                <ul class="dropdown">
                    <li><a href="#">Profil</a></li>
                    <li><a href="#">Moje zbiórki</a></li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="/user/adminPanel">Panel administratora</a>
                    </li>
                    <li>
                        <form action="logmeout" th:action="@{/logmeout}" method="post" >
                            <input type="submit" value="Log me out" />
                        </form>
                    </li>
                </ul>
            </li>
        </ul>

        <ul>
            <li><a href="/donation/add" class="btn btn--without-border active">Start</a></li>
            <li><a href="/#steps" class="btn btn--without-border">O co chodzi?</a></li>
            <li><a href="/#about-us" class="btn btn--without-border">O nas</a></li>
            <li><a href="/#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
            <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
    </nav>
</div>
</body>