<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css"/>
  </head>
  <body>
  <header>
    <div th:include="fragments/header :: landingpageheader">
    </div>
  </header>

    <section class="login-page">
      <h2>Załóż konto</h2>
      <form th:action="@{/user/register}" th:object="${user}" method="post">
        <div class="form-group">
          <input type="text" name="firstName" placeholder="Imię" th:field="*{firstName}"/>
        </div>
        <div class="form-group">
          <input type="text" name="lastName" placeholder="Nazwisko" th:field="*{lastName}"/>
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" th:field="*{email}"/>
          <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Hasło" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                 title="Musi zawierać co najmniej jedną cyfrę, jedną dużą i małą literę oraz co najmniej 8 znaków"
                 th:field="*{password}"/>
          <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        <div class="form-group">
          <input type="password" name="password2" placeholder="Powtórz hasło"/>
        </div>

        <div class="form-group form-group--buttons">
          <a href="login.html" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>

  <footer th:include="fragments/footer :: pagefooter"></footer>

  </body>
</html>
