<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Institution Form</title>
</head>
<body>
<form th:action="@{/institution/add}" th:object="${institution}" method="post">
    <div>
        <h3>Podaj nazwę Instytucji</h3>

        <div>
            <label>
                <input type="text" th:field="*{name}"/>
            </label>
        </div>
    </div>
    <div>
        <h3>Podaj opis Instytucji</h3>

        <div>
            <label>
                <input type="text" th:field="*{description}"/>
            </label>
        </div>
    </div>
    <div>
        <button type="submit" class="btn">Dodaj</button>
    </div>
</form>
</body>
</html>